@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    background: url('../imagens/pexels-kübra-kuzu-17658108.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 100vh;
    position: relative;
}

section#aparelho {
    height: 300px;
    width: 350px;
    background-image: url('../imagens/8499474.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

iframe#tela {
    position: relative;
    top: 34px;
    left: 51px;
    width: 250px;
    height: 178px;
}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais img {
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.407);
}

section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.741);
}